.carousel-inner {
	width: 100vw;
	max-height: 80vh;
}

.carousel-inner img {
	width: 100%;
}

.box-width-25 {
	width: 25vw;
}

.text-box-container {
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.about-homepage {
	text-align: center;
	background-color: #eaeaea;
	padding: 8% 8%;
	height: 100%;
}

.image-container {
	max-width: 40vw;
}

.image-container img {
	width: 100%;
}

.process {
	display: flex;
}

.card-homepage {
	height: 62vh;
	overflow: hidden;
	border-radius: 10px;
}

.card-homepage Img {
	height: 30vh;
	max-height: 30vh;
	object-fit: cover;
}

.card-homepage:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
}

.hover-cursor:hover {
	cursor: pointer;
}

.process-detail h5 {
	color: #176149;
}

.process-detail p {
	margin-left: 3%;
}

.button-width {
	height: 6vh;
	width: 20vw;
	border-radius: 25px;
}

@media (max-width: 480px) {
	.box-width-25 {
		width: 40vw;
	}
	.process {
		flex-wrap: wrap;
	}
	.image-container {
		max-width: 80vw;
		text-align: center;
	}
	.button-width {
		width: 80vw;
	}
}
